*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    
    flex-wrap: wrap;
}
.header-img {
    width: 32%;
    float: right;
}

.header-img img {
    width: 100%;
    padding: 25px;
}

.banner {
    width: 100%;
}
.container{

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 95px;;
}
nav ul li a:hover {
    color: red;
}
.logo{
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:floralwhite;
    text-decoration: none
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    padding: 277px 30px;
    font-size: 30px;
    width: 65%;
    float: left;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

#about{
    color: #ababab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100;
    border-radius: 15px;
}
.about-col-2 img{
flex-basis: 60px;
}
.sub-title{
font-size: 60px;
font-weight: 600;
color: #fff;

}
.tab-titles{
    display:flexbox;
    margin: 20px 0 40px;
}
.tab-links{
margin-right: 50px;
font-size: 18px;
font-weight: 500;
cursor: pointer;
position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}


.about-pic {
    width: 50%;
    float: left;
    clear: both;
}

.about-info {
    width: 50%;
    float: left;
    padding: 15px;
}
.about-info ul li {
    line-height: 28px;
    margin-top: 10px;
}
.about-pic img {
    width: 80%;
    padding: 34px;
}
.tab-titles ul {
    list-style: none;
    display: block;
}

.tab-titles ul li {
    display: inline-block;
    padding: 14px;
}

.tab-content-item {
    display: none;
    max-width: 100%;
    margin-top: -1px;
    padding-inline: 20px;
  }
  
  .tab-content-item.active {
    display: block;
  }
  .tab.active {
    color: red;
}
.tabs .tab:hover {
    color: #0441ff;
}
.tabs .tab {
    display: inline-block;
    padding: 40px;
    cursor: pointer;
}
.container .services {
    width: 33%;
    float: left;
    margin-top: 20px;
    padding: 0px 76px;
}
.services h2 {
    padding-bottom: 15px;
}
#services{
    padding: 30px 0;
    display: inline-block;
    padding: 40px;
    cursor: pointer;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}